body, li {

  font-family: cursive;
  background-color: #FFFFFF;
}

.bg-style-class {

  background-color: #FFFFFF;
}

.introduction {

  margin-top: 5px;
}

.introduction_text_class {

  color: #ff0000;
}

#profile_images_slider {

  margin-bottom: 15px;
  margin-left: 400px;
}

.main_title {

  text-align: center;
}

.section_title {

  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #ff0000;
}

.sub-title {

  display: block;
  font-size: 1.5em;
  margin-top: 0.1em;
  /*margin-bottom: 0.67em;*/
  text-align: center;
  font-weight: bold;
  color: #ff0000;
}

/* Blue ribbon icon class */
.fa-award {

  color: #0063ff;
  margin-left: 0px;
}

nav {

  background-color: white;
}

/* Define the social network link's style */
.link_in_contact_me {
	
  background-color: white;
  padding-left: 0;

  -webkit-transition: -webkit-transform 0.8s ease-in-out;
          transition: transform 0.8s ease-in-out;
}

/* Define the rotation value in deg when the mouse cursor pass on the social network link */
.link_in_contact_me:hover {

  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.h4 {

  margin-bottom: 13px;
}

.subsection {

  margin-bottom: 20px;
}

/* Configuration of cursor fior tabs */
#my_online_portfolio_board.ui-tabs ul.ui-tabs-nav .ui-tabs-anchor {

    cursor:grab;
}

/* LinkedIn Font Awesome (FA) icon class */
.fa-linkedin-in {

  color: #0e76a8;
}

/* GitHub Font Awesome (FA) icon class */
.fa-github {

  color: #000000;
}

/* Docker Font Awesome (FA) icon class */
.fa-docker {

  color: #0db7ed;
}

/* Code Pen Font Awesome (FA) icon class */
.fa-codepen {

  color: #000000;
}

/* YouTube Font Awesome (FA) icon class */
.fa-youtube {

  color: #ff0000;
}

/* Instagram Font Awesome (FA) icon class */
.fa-instagram {

  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

/* Skype Font Awesome (FA) icon class */
.fa-skype-in-the-collaborative-sites-and-social-networks-section {

  color: #0099CC;
}

/* Mail Font Awesome (FA) icon class */
.fa-envelope-square {

  color: #007fff;
}