body, li {

  font-family: verdana;
}

footer {

  margin-top: 0.55em;
  color: #ffffff;
}

.fa-address-book-of-first-place-podium-banner {

  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
}

.fa-infinity-of-first-place-podium-banner {

  color: #850606;
  margin-left: 7px;
}

.fa-sign-language-of-first-place-podium-banner {

  color: #e1d2b8;
  margin-left: 7px;
}

.fa-dumbbell-of-first-place-podium-banner {

  color: #298ff5;
  margin-left: 7px;
}

.fa-satellite-of-first-place-podium-banner {

  background-image: linear-gradient(rgba(255, 255, 0, 1), rgba(0, 0, 255, 1));
  -webkit-background-clip: text;
  color: transparent;
  margin-left: 7px;
}

.first_place_podium_banner {

  text-align: center;
}

.fa-trophy-of-first-place-podium-banner {

  color: #FFD700;
}

.fa-magic {

  color: #FFD700;
}

.fa-book-reader {

  color: #695c78;
}

.fa-file-code {

  color: #16b84e;
}

.fa-book {

  color: #006400;
}

.fa-fist-raised {

  color: #FF0000;
}

.fa-journal-whills {

  color: #8A2BE2;
}

.fa-people-carry-of-first-place-podium-banner {

  color: #ad8762;
  margin-left: 7px;
}

.fa-film-of-first-place-podium-banner {

  color: #000000;
  margin-left: 7px;
}

.fa-graduation-cap-of-first-place-podium-banner {

  color: #000080;
  margin-left: 7px;
}

.fa-wrench {

  color: #808080;
  margin-right: 0px;
}

.fa-hard-hat-of-first-place-podium-banner {

  color: #FFE436;
  margin-left: 7px;
}

.fa-id-badge {

  color: #00FFFF;
}

.fa-briefcase-of-first-place-podium-banner {

  margin-left: 7px;
  color: #7e4d09;
}

.centered-text-of-first-place-podium-banner {

  margin-left: 10px;
}

.guardians_of_banner {

  -webkit-transition: -webkit-transform 1.3s ease-in-out;
          transition: transform 1.3s ease-in-out;
}

/* Define the rotation value in deg when the mouse cursor pass on the  */
.guardians_of_banner:hover {

  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.introduction {

  margin-top: 5px;
}

#profile_images_slider {

  margin-bottom: 15px;
  margin-left: 400px;
}

.main_title {

  text-align: center;
  color: #ffffff;
}

.section_title {

  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.sub-title {

  display: block;
  font-size: 1.5em;
  margin-top: 0.1em;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

/* Blue ribbon icon class */
.fa-award {

  color: #0063ff;
  margin-left: 0px;
}

nav {

  background-color: rgba(0, 0, 0, 0);
}

/**/
.introduction_text_class {

  color: #ffffff;
}

/* Define the social network link's style */
.link_in_contact_me {
	
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0;

  -webkit-transition: -webkit-transform 0.8s ease-in-out;
          transition: transform 0.8s ease-in-out;
}

/* Define the rotation value in deg when the mouse cursor pass on the social network link */
.link_in_contact_me:hover {

  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* Define the cursor (as 'pointer') for all exposed languages */
.language_element {

  cursor: pointer;
}

.h4 {

  margin-bottom: 13px;
}

.subsection {

  margin-bottom: 20px;
}

/* Configuration of cursor fior tabs */
#my_online_portfolio_board.ui-tabs ul.ui-tabs-nav .ui-tabs-anchor {

    cursor:grab;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

/* LinkedIn Font Awesome (FA) icon class */
.fa-linkedin-in {

  color: #0e76a8;
}

/* GitHub Font Awesome (FA) icon class */
.fa-github-repos {

  color: #ffffff;
}

/* Docker Font Awesome (FA) icon class */
.fa-docker {

  color: #0db7ed;
}

/* Code Pen Font Awesome (FA) icon class */
.fa-codepen {

  color: #000000;
}

/* YouTube Font Awesome (FA) icon class */
.fa-youtube {

  color: #ff0000;
}

/* Instagram Font Awesome (FA) icon class */
.fa-instagram {

  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

/* Skype Font Awesome (FA) icon class */
.fa-skype-in-the-collaborative-sites-and-social-networks-section {

  color: #0099CC;
}

/* Mail Font Awesome (FA) icon class */
.fa-envelope-square {

  color: #007fff;
}

/* GitHub Font Awesome (FA) icon class */
.fa-github-profile {

  color: #000000;
}

/* Medium icon class */
.fa-medium-m {

  color: #000000;
}